* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.multipage-container {
  background-color: hsl(229, 24%, 87%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content-container {
  padding: 1%;
  width: 65%;
  height: 75%;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}
.sidebar-container {
  width: 30%;
  background-image: url("images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 2%;
  border-radius: 12px;
}

.active-bars {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.bar {
  border: 1px solid hsl(229, 24%, 87%);
  padding: 4%;
  border-radius: 100px;
  margin-right: 15%;
  margin-left: 4%;
  width: 14%;
  text-align: center;
  color: hsl(229, 24%, 87%);
}
.steps-number{
  color:hsl(231, 11%, 63%);
  font-size:16px;
  font-weight: 600;
}
.steps {
  color: hsl(229, 24%, 87%);
  font-size:16px;
  font-weight: 600;
}
.details-button-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}
.details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-title {
  color: hsl(213, 96%, 18%);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 1%;
}
.description {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5%;
}
.presonal-form {
  width: 100%;
}
label {
  color: hsl(213, 96%, 18%);
  font-size: 20px;
  font-weight: 600;
}
.label-span {
  display: flex;
  justify-content: space-between;
}
#name,
#email,
#phone {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid hsl(231, 11%, 63%);
  padding: 5px;
  margin-bottom: 5%;
  margin-top: 1%;
  &:hover {
    border: 2px solid hsl(243, 100%, 62%);
  }
}

.border-input {
  border-color: hsl(354, 84%, 57%);
}

.btn-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
}
.hidden {
  visibility: hidden;
}
#back-btn-2,
#back-btn-3,
#back-btn-4 {
  border: none;
  color: hsl(231, 11%, 63%);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    color:hsl(213, 96%, 18%);
  }
}
#next-btn,
#next-btn-2,
#next-btn-3,
#confirm-btn {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  width: 120px;
  height: 38px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: hsl(243, 100%, 62%);
  }
}

.billing-type-container {
  display: flex;
  justify-content: space-between;
}
.arcade,
.advanced,
.pro {
  border: 1px solid black;
  border-radius: 8px;
  width: 28%;
  padding: 2%;
  height: 200px;
  cursor: pointer;
  &:hover{
    border-color: hsl(243, 100%, 62%);
    border-width:2px;
  }
}
.icon {
  margin-bottom: 26%;
  margin-top: 20%;
}
.plan-name {
  color: hsl(213, 96%, 18%);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2%;
}
#offer-plan {
  color: hsl(213, 96%, 18%);
  font-size: 16px;
  font-weight: 500;
}
.monthly-plan {
  color: hsl(231, 11%, 63%);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1%;
}
.switch-monthly-yearly {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: hsl(217, 100%, 97%);
  margin-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 10px;
}
.monthly {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  font-size: 18px;
}
.yearly {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 18px;
}
.new-blue {
  color: hsl(213, 96%, 18%);
}
.new-cement {
  color: hsl(231, 11%, 63%);
}

.switch {
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: 15px;
  background-color: hsl(213, 96%, 18%);
  overflow: hidden;
}

.switch input[type="checkbox"] {
  display: none;
}

.switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(213, 96%, 18%);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch input[type="checkbox"]:checked + .switch-label {
  background-color: hsl(213, 96%, 18%);
}

.switch input[type="checkbox"]:checked + .switch-label + .switch-handle {
  transform: translateX(30px);
}

.services-container {
  display: flex;
  flex-direction: column;
}
.add-ons {
  border: 1px solid hsl(231, 11%, 63%);
  margin-bottom: 5%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  height: 80px;
  &:hover{
    border :2px solid  hsl(243, 100%, 62%);
  }
}
.add-ons-checked {
  border-color: hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.checkbox-description-container {
  display: flex;
  width: 100%;
}
.service-description {
  margin-left: 8%;
  cursor: pointer;
}
.service-title {
  color: hsl(213, 96%, 18%);
  font-size: 16px;
  font-weight: 700;
}
.desc {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 16px;
}
.check {
  width: 3%;
  cursor: pointer;
}
#cost-1,
#cost-2,
#cost-3 {
  color: hsl(243, 100%, 62%);
}
.plan-service-container {
  width: 100%;
  background-color: hsl(217, 100%, 97%);
  padding: 2%;
  border-radius: 12px;
}
.none {
  display: none;
}
.btn-container-2 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
}

.active-sidebar {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

#name-error,
#email-error,
#phone-error {
  color: hsl(354, 84%, 57%);
  font-size: 16px;
  font-weight: 500;
}
#plan {
  margin-right: 8px;
}

.plan-design {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
  border-width:2px;
}

.plan-month-year-container {
  display: flex;
  justify-content: space-around;
}
.plan-container-last {
  display: flex;
  justify-content: space-between;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  font-size: 16px;
}
#plan-change-btn {
  border: none;
  border-bottom: 2px solid  hsl(231, 11%, 63%);
  background-color: transparent;
  color:  hsl(231, 11%, 63%);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover{
    border-bottom: 2px solid  hsl(243, 100%, 62%);
    color: hsl(243, 100%, 62%);
  }
}
#add-on-service {
  list-style-type: none;
}
.service-design {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 16px;
}
.service-name {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}
.service-cost {
  color: hsl(213, 96%, 18%);
}
#total-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
#yearPlan-montPlan {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 16px;
}
.total-costFinal {
  color: hsl(243, 100%, 62%);
  font-weight: 600;
  font-size: 18px;
}
.finish-container {
  width: 100%;
}
#details-final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}
.thanks-description {
  text-align: center;
  margin-top: 4%;
  font-size: 16px;
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.thank-you {
  color: hsl(213, 96%, 18%);
  font-size: 28px;
  font-weight: 600;
  margin-top: 4%;
}

@media screen and (min-width: 601px) and (max-width: 1300px) {
  .content-container {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 100%, 97%);
  }
  .sidebar-container {
    width: 100%;
    background-image: url("images/bg-sidebar-mobile.svg");
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30%;
  }
  .sidebar {
    display: none;
  }
  .active-bars {
    width: 10%;
    margin-left: 4%;
    margin-bottom: 10%;
  }
  .bar {
    padding: 10px;
    border-radius: 100%;
    width: 100%;
  }
  .details-button-container {
    width: 100%;
    margin: 0%;
  }
  .details {
    margin-top: -20%;
    background-color: white;
    width: 90%;
    padding: 4%;
    border-radius: 10px;
    margin-left: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* .btn-container{
    background-color: white;
    padding: 4%;
    position: absolute;
    bottom: 0;
  } */
  .btn-container,
  .btn-container-2 {
    background-color: white;
    padding: 4%;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
  }
  .page-title {
    font-size: 26px;
  }
  .description,
  label {
    font-size: 16px;
  }
  .billing-type-container {
    flex-direction: column;
  }
  .arcade,
  .advanced,
  .pro {
    width: 100%;
    height: 110px;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .icon {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 4%;
  }
  .check {
    width: 5%;
  }
  #details-final {
    margin-top: -20%;
    height: 50vh;
  }
}
